	<!-- Area Chart -->
	<div class="col-xl-12">

		<div class="row">	
				<div class="col-xl-4">
			  @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
			  </div>
			  	<div class="col-xl-4">
			    @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
				</div>
					<div class="col-xl-4">
				  @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
				  </div>
			</div>
			<div class="row">
					<div class="col-xl-4">
				    @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
					</div>
						<div class="col-xl-4">
					  @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
					  </div>
					  	<div class="col-xl-4">
					    @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
						</div>
						</div>


		</div>
