	<!-- Area Chart -->
	<div class="col-xl-12">

		<div class="row">	
			
			  @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
			    @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
				  @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
			</div>
			<div class="row">
				    @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
					  @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
					    @{Html.RenderPartial("_coiCEPEChart",new{ script="",strike="35000"});}  
						</div>


		</div>
