	<!-- Area Chart -->
<div class="col-xl-12">



	<div class="row">
		<div class="col-xl-4">
			<partial name="_itmCOI" model='new{title="15000", divid="divitm", height="500px", width="100%"}' />
		</div>
		<div class="col-xl-4">
			<partial name="_atmCOI" model='new{title="15100", divid="divatm", height="500px", width="100%"}' />
		</div>
		<div class="col-xl-4">
			<partial name="_otmCOI" model='new{title="15200", divid="divotmp", height="500px", width="100%"}' />
		</div>
	</div>



</div>
