
@model NSMkt.Models.VM.ScriptModel

@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.Script, Model.Scripts)

     <partial name="_dropdownExpiry" />

	
			<div class="input-group-append">
				<button class="btn form-user btn-success" type="button">Submit</button>
				<a href="#" class="btn btn-success btn-icon-split">
					<span class="icon text-white-50">
						<i class="fas fa-arrow-right"></i>
					</span>
				</a>
			</div>
}


@*<select class="form-control inputstl form-user  bg-light border-0 small" placeholder="Script..." aria-label="Search">
    <option>NIFTY</option>
    <option>BANKNIFTY</option>
    <option>ABB</option>
    <option>ACC</option>
    <option>AUBANK</option>
    <option>ABBOTINDIA</option>
    <option>ADANIENT</option>
    <option>ADANIGREEN</option>
    <option>ADANIPORTS</option>
    <option>ATGL</option>
    <option>ADANITRANS</option>
    <option>ABCAPITAL</option>
    <option>ABFRL</option>
    <option>APLLTD</option>
    <option>ALKEM</option>
    <option>AMBUJACEM</option>
    <option>APOLLOHOSP</option>
    <option>APOLLOTYRE</option>
    <option>ASHOKLEY</option>
    <option>ASIANPAINT</option>
    <option>ASTRAL</option>
    <option>AUROPHARMA</option>
    <option>DMART</option>
    <option>AXISBANK</option>
    <option>BAJAJ-AUTO</option>
    <option>BAJFINANCE</option>
    <option>BAJAJFINSV</option>
    <option>BAJAJHLDNG</option>
    <option>BALKRISIND</option>
    <option>BANDHANBNK</option>
    <option>BANKBARODA</option>
    <option>BANKINDIA</option>
    <option>BATAINDIA</option>
    <option>BERGEPAINT</option>
    <option>BEL</option>
    <option>BHARATFORG</option>
    <option>BHEL</option>
    <option>BPCL</option>
    <option>BHARTIARTL</option>
    <option>BIOCON</option>
    <option>BOSCHLTD</option>
    <option>BRITANNIA</option>
    <option>CANBK</option>
    <option>CHOLAFIN</option>
    <option>CIPLA</option>
    <option>CLEAN</option>
    <option>COALINDIA</option>
    <option>COFORGE</option>
    <option>COLPAL</option>
    <option>CONCOR</option>
    <option>COROMANDEL</option>
    <option>CROMPTON</option>
    <option>CUMMINSIND</option>
    <option>DLF</option>
    <option>DABUR</option>
    <option>DALBHARAT</option>
    <option>DEEPAKNTR</option>
    <option>DIVISLAB</option>
    <option>DIXON</option>
    <option>LALPATHLAB</option>
    <option>DRREDDY</option>
    <option>EICHERMOT</option>
    <option>EMAMILTD</option>
    <option>ESCORTS</option>
    <option>EXIDEIND</option>
    <option>NYKAA</option>
    <option>FEDERALBNK</option>
    <option>FORTIS</option>
    <option>GAIL</option>
    <option>GLAND</option>
    <option>GLENMARK</option>
    <option>GODREJCP</option>
    <option>GODREJPROP</option>
    <option>GRASIM</option>
    <option>GUJGASLTD</option>
    <option>GSPL</option>
    <option>HCLTECH</option>
    <option>HDFCAMC</option>
    <option>HDFCBANK</option>
    <option>HDFCLIFE</option>
    <option>HAVELLS</option>
    <option>HEROMOTOCO</option>
    <option>HINDALCO</option>
    <option>HAL</option>
    <option>HINDPETRO</option>
    <option>HINDUNILVR</option>
    <option>HINDZINC</option>
    <option>HONAUT</option>
    <option>HDFC</option>
    <option>ICICIBANK</option>
    <option>ICICIGI</option>
    <option>ICICIPRULI</option>
    <option>ISEC</option>
    <option>IDBI</option>
    <option>IDFCFIRSTB</option>
    <option>ITC</option>
    <option>INDIAMART</option>
    <option>INDIANB</option>
    <option>IEX</option>
    <option>INDHOTEL</option>
    <option>IOC</option>
    <option>IRCTC</option>
    <option>IGL</option>
    <option>INDUSTOWER</option>
    <option>INDUSINDBK</option>
    <option>NAUKRI</option>
    <option>INFY</option>
    <option>INDIGO</option>
    <option>IPCALAB</option>
    <option>JSWENERGY</option>
    <option>JSWSTEEL</option>
    <option>JINDALSTEL</option>
    <option>JUBLFOOD</option>
    <option>KOTAKBANK</option>
    <option>L&TFH</option>
    <option>LTTS</option>
    <option>LICHSGFIN</option>
    <option>LTI</option>
    <option>LT</option>
    <option>LAURUSLABS</option>
    <option>LUPIN</option>
    <option>MRF</option>
    <option>M&MFIN</option>
    <option>M&M</option>
    <option>MANAPPURAM</option>
    <option>MARICO</option>
    <option>MARUTI</option>
    <option>MFSL</option>
    <option>MAXHEALTH</option>
    <option>METROPOLIS</option>
    <option>MINDTREE</option>
    <option>MPHASIS</option>
    <option>MUTHOOTFIN</option>
    <option>NMDC</option>
    <option>NTPC</option>
    <option>NATIONALUM</option>
    <option>NAVINFLUOR</option>
    <option>NESTLEIND</option>
    <option>NAM-INDIA</option>
    <option>OBEROIRLTY</option>
    <option>ONGC</option>
    <option>OIL</option>
    <option>PAYTM</option>
    <option>OFSS</option>
    <option>POLICYBZR</option>
    <option>PIIND</option>
    <option>PAGEIND</option>
    <option>PERSISTENT</option>
    <option>PETRONET</option>
    <option>PIDILITIND</option>
    <option>PEL</option>
    <option>POLYCAB</option>
    <option>PFC</option>
    <option>POWERGRID</option>
    <option>PRESTIGE</option>
    <option>PGHH</option>
    <option>PNB</option>
    <option>RECLTD</option>
    <option>RELIANCE</option>
    <option>SBICARD</option>
    <option>SBILIFE</option>
    <option>SRF</option>
    <option>SHREECEM</option>
    <option>SRTRANSFIN</option>
    <option>SIEMENS</option>
    <option>SONACOMS</option>
    <option>SBIN</option>
    <option>SAIL</option>
    <option>SUNPHARMA</option>
    <option>SUNTV</option>
    <option>SYNGENE</option>
    <option>TVSMOTOR</option>
    <option>TATACHEM</option>
    <option>TATACOMM</option>
    <option>TCS</option>
    <option>TATACONSUM</option>
    <option>TATAELXSI</option>
    <option>TATAMOTORS</option>
    <option>TATAPOWER</option>
    <option>TATASTEEL</option>
    <option>TECHM</option>
    <option>RAMCOCEM</option>
    <option>TITAN</option>
    <option>TORNTPHARM</option>
    <option>TORNTPOWER</option>
    <option>TRENT</option>
    <option>TRIDENT</option>
    <option>UPL</option>
    <option>ULTRACEMCO</option>
    <option>UNIONBANK</option>
    <option>UBL</option>
    <option>MCDOWELL-N</option>
    <option>VBL</option>
    <option>VEDL</option>
    <option>IDEA</option>
    <option>VOLTAS</option>
    <option>WHIRLPOOL</option>
    <option>WIPRO</option>
    <option>YESBANK</option>
    <option>ZEEL</option>
    <option>ZOMATO</option>
    <option>ZYDUSLIFE</option>

</select>*@