
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
		<select class="form-control inputstl form-user  bg-light border-0 small" placeholder="Expiry">			
				<option>30-Jun-2022</option>
				<option>07-Jul-2022</option>
				<option>14-Jul-2022</option>
				<option>21-Jul-2022</option>
			</select>