
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

			<select class="form-control inputstl form-user  bg-light border-0 small" placeholder="Strike">
			
				<option>16000</option>
				<option>16050</option>
				<option>16100</option>
				<option>16150</option>
			</select>
