
@model NSMkt.Models.VM.ModelScriptExpiry
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor


        
    @Html.DropDownListFor(m => Model.scriptModel.Script, Model.scriptModel.Scripts , new { id="ddlScript",style = "max-width: 180px;", @class="form-control inputstl form-user  bg-light border-0 small"})
    @Html.DropDownListFor(m => Model.expiryDropdownModel.Expiry, Model.expiryDropdownModel.Expiries,new { id="ddlExpiry",style = "max-width: 150px;",@class="form-control inputstl form-user  bg-light border-0 small"})

	
	<div class="input-group-append">
		<button class="btn form-user btn-success"  id="btnScriptExp">Submit</button>
		<a href="#" class="btn btn-success btn-icon-split">
			<span class="icon text-white-50">
				<i class="fas fa-arrow-right"></i>
			</span>
		</a>
	</div>



<script type="text/javascript">
        $(function () {
            $("#btnScriptExp").click(function () {
               // var token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    type: "POST",
                    url: "../Home/setScript",
                    data: {
                       // __RequestVerificationToken: token
                            script: $("#ddlScript").val()
                            , expiry: $("#ddlExpiry").val()
                    },                   
                    success: function (response) {                    
                        $("#ddlScript").val();
                         $("#ddlExpiry").val();
                         location.reload(true);                     
                    },
                    failure: function (response) {
                        //alert(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                    }
                });
            });
        });
    </script>

