
@model NSMkt.Models.VM.ModelScriptExpiry

@using (   Html.BeginForm("SetScript","Home",FormMethod.Post,new { script=Model.scriptModel.Script, expiry=Model.expiryDropdownModel.Expiry}))
{

   
    @Html.DropDownListFor(m => m.scriptModel.Script, Model.scriptModel.Scripts , new {@class="form-control inputstl form-user  bg-light border-0 small"})
    @Html.DropDownListFor(m => m.expiryDropdownModel.Expiry, Model.expiryDropdownModel.Expiries,new {@class="form-control inputstl form-user  bg-light border-0 small"})

	
	<div class="input-group-append">
		<button class="btn form-user btn-success" name="submit" type="submit">Submit</button>
		<a href="#" class="btn btn-success btn-icon-split">
			<span class="icon text-white-50">
				<i class="fas fa-arrow-right"></i>
			</span>
		</a>
	</div>
}

