  <!-- Area Chart -->


@*  https://stackoverflow.com/questions/67636475/apexcharts-update-2-lines-chart-data-json-api-ajax*@
<style>
    #chart {
  max-width: 650px;
  margin: 35px auto;
}

</style>
<div class="card shadow">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@Model.title</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area">
            <div id="niftychart"></div>
        </div>
    </div>
</div>

@*  
<script type="text/javascript">

var options = {
  chart: {
    height: 350,
    type: "line",
    stacked: false
  },
  dataLabels: {
    enabled: false
  },
  colors: ["#FF1654", "#247BA0"],
  series: [
    {
      name: "Series A",
      data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
    },
    {
      name: "Series B",
      data: [20, 29, 37, 36, 44, 45, 50, 58]
    }
  ],
  stroke: {
    width: [4, 4]
  },
  plotOptions: {
    bar: {
      columnWidth: "20%"
    }
  },
  xaxis: {
    categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
  },
  yaxis: [
    {
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#FF1654"
      },
      labels: {
        style: {
          colors: "#FF1654"
        }
      },
      title: {
        text: "Series A",
        style: {
          color: "#FF1654"
        }
      }
    },
    {
      opposite: true,
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#247BA0"
      },
      labels: {
        style: {
          colors: "#247BA0"
        }
      },
      title: {
        text: "Series B",
        style: {
          color: "#247BA0"
        }
      }
    }
  ],
  tooltip: {
    shared: false,
    intersect: true,
    x: {
      show: false
    }
  },
  legend: {
    horizontalAlign: "left",
    offsetX: 40
  }
};

var chart = new ApexCharts(document.querySelector("#niftychart"), options);

chart.render();


//chart.updateSeries([{name: 'Speed', data: [[0.0,61.8],[38.4,61.2],[76.8,60.5],[115.2,59.9],[153.6,59.3],[192.0,58.6]]}]);
    //var url = 'https://localhost:7270/api/Sample/LineChartData?bnfchart=adfsd';

    //$.getJSON(url, function(response) {  
    //  chart.updateSeries([{
    //    name: 'Sales',
    //    data: [[0.0,61.8],[38.4,61.2],[76.8,60.5],[115.2,59.9],[153.6,59.3],[192.0,58.6]]
    //  }])
    //});



  
</script>*@

<script>
var options = {
  series: [],
    colors: ["#FF1654", "#247BA0"],
  chart: {
    height: 350,
    type: 'line',
  },
  dataLabels: {
    enabled: true
  },
  title: {
    text: 'Production Line',
  },
  noData: {
    text: 'Loading...'
  },
  xaxis: {
    type: 'category',
    tickPlacement: 'on',
    labels: {
      rotate: -45,
      rotateAlways: true
    }
  }
};
var chart = new ApexCharts(document.querySelector("#niftychart"), options);
chart.render();
//var controllerUrl = "this.Url.Action(actionName: "LineChartProductionHour", controllerName: "LineChart")";
$.getJSON({ url: "https://localhost:7270/api/Sample/LineChartData?bnfchart=adfsd" }, function(data2) {

    //suppose this is return..from ajax
    //var data2 = {
    //  "data2": [{
    //    "Hour": "07:00-08:00",
    //    "Produced": 80,
    //    "Target": 120
    //  }, {
    //    "Hour": "08:00-09:00",
    //    "Produced": 90,
    //    "Target": 120
    //  }, {
    //    "Hour": "09:00:10:00",
    //    "Produced": 85,
    //    "Target": 90
    //  }, {
    //    "Hour": "10:00-11:00",
    //    "Produced": 22,
    //    "Target": 120
    //  }, {
    //    "Hour": "11:00:12:00",
    //    "Produced": 80,
    //    "Target": 70
    //  }, {
    //    "Hour": "12:00:13:00",
    //    "Produced": 65,
    //    "Target": 50
    //  }, {
    //    "Hour": "13:00:14:00",
    //    "Produced": 80,
    //    "Target": 120
    //  }, {
    //    "Hour": "14:00:15:00",
    //    "Produced": 130,
    //    "Target": 100
    //  }]
    //}
    a_data = data2;
    var price = []
    var coi = []
    //loop through return data 
    $(a_data.data).each(function(i, v) {
        //push values as x & y
        price.push({
            "x": v.dt,
            "y": v.price
        })
        coi.push({
            "x": v.dt,
            "y": v.coi
        })
    })
    chart.updateSeries([{
        name: 'Price',
        data: price //pass them here 
    }
    //,    
    //{
    //    name: 'COI',
    //    data: coi //pass them here
    //}
    
    ]);

});

</script>


