  <!-- Area Chart -->


@*  https://stackoverflow.com/questions/67636475/apexcharts-update-2-lines-chart-data-json-api-ajax*@
<style>
    #chart {
  max-width: 650px;
  margin: 35px auto;
}

</style>
<div class="card shadow">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">@Model.title</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area">
            <div id="niftychart"></div>
        </div>
    </div>
</div>

@*  
<script type="text/javascript">

var options = {
  chart: {
    height: 350,
    type: "line",
    stacked: false
  },
  dataLabels: {
    enabled: false
  },
  colors: ["#FF1654", "#247BA0"],
  series: [
    {
      name: "Series A",
      data: [1.4, 2, 2.5, 1.5, 2.5, 2.8, 3.8, 4.6]
    },
    {
      name: "Series B",
      data: [20, 29, 37, 36, 44, 45, 50, 58]
    }
  ],
  stroke: {
    width: [4, 4]
  },
  plotOptions: {
    bar: {
      columnWidth: "20%"
    }
  },
  xaxis: {
    categories: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
  },
  yaxis: [
    {
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#FF1654"
      },
      labels: {
        style: {
          colors: "#FF1654"
        }
      },
      title: {
        text: "Series A",
        style: {
          color: "#FF1654"
        }
      }
    },
    {
      opposite: true,
      axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#247BA0"
      },
      labels: {
        style: {
          colors: "#247BA0"
        }
      },
      title: {
        text: "Series B",
        style: {
          color: "#247BA0"
        }
      }
    }
  ],
  tooltip: {
    shared: false,
    intersect: true,
    x: {
      show: false
    }
  },
  legend: {
    horizontalAlign: "left",
    offsetX: 40
  }
};

var chart = new ApexCharts(document.querySelector("#niftychart"), options);

chart.render();


//chart.updateSeries([{name: 'Speed', data: [[0.0,61.8],[38.4,61.2],[76.8,60.5],[115.2,59.9],[153.6,59.3],[192.0,58.6]]}]);
    //var url = 'https://localhost:7270/api/Sample/LineChartData?bnfchart=adfsd';

    //$.getJSON(url, function(response) {  
    //  chart.updateSeries([{
    //    name: 'Sales',
    //    data: [[0.0,61.8],[38.4,61.2],[76.8,60.5],[115.2,59.9],[153.6,59.3],[192.0,58.6]]
    //  }])
    //});



  
</script>*@

<script>
var options = {
  series: [],
    colors: ["#FF1654", "#247BA0"],
  chart: {
    height: 350,
    type: 'line',
  },
  dataLabels: {
    enabled: true
  },
  title: {
    text: 'Production Line',
  },
  noData: {
    text: 'Loading...'
  },
  xaxis: {
    type: 'Price',
    tickPlacement: 'on',
    labels: {
      rotate: -45,
      rotateAlways: true
    }
  }
};
var chart = new ApexCharts(document.querySelector("#niftychart"), options);
chart.render();
//var controllerUrl = "this.Url.Action(actionName: "LineChartProductionHour", controllerName: "LineChart")";
$.getJSON({ url: "https://localhost:7000/api/Sample/LineChartData?bnfchart=adfsd" }, function(response) {

    //suppose this is return..from ajax
 var response = {
  "data": [
    {
      "price": 1900.0,
      "coi": 5000.0,
      "dt": "12:47"
    },
    {
      "price": 1901.0,
      "coi": 6000.0,
      "dt": "12:48"
    },
    {
      "price": 1902.0,
      "coi": 2000.0,
      "dt": "12:49"
    },
    {
      "price": 1903.0,
      "coi": 6000.0,
      "dt": "12:50"
    },
    {
      "price": 1904.0,
      "coi": 4000.0,
      "dt": "12:51"
    },
    {
      "price": 1905.0,
      "coi": 2000.0,
      "dt": "12:52"
    },
    {
      "price": 1906.0,
      "coi": 5000.0,
      "dt": "12:53"
    },
    {
      "price": 1907.0,
      "coi": 9000.0,
      "dt": "12:54"
    },
    {
      "price": 1908.0,
      "coi": 8000.0,
      "dt": "12:55"
    },
    {
      "price": 1909.0,
      "coi": 8000.0,
      "dt": "12:56"
    }
  ]
};
   a_data = response;
var pricelist = [];
var coilist = [];
//loop through return data 
$(a_data.data).each(function(i, v) {
  //push values as x & y
  pricelist.push({
    "x": v.dt,
    "y": v.price
  });
  coilist.push({
    "x": v.dt,
    "y": v.coi
  });
});
chart.updateSeries(
    [
    {
  name: 'Price',
  data: pricelist //pass them here 
}, 
{
  name: 'COI',
  data: coilist //pass them here
}
]);


});

</script>


