


<div class="row">
	<table>
		<tbody>

			<tr>
				<td>
				<select class="form-control inputstl form-user  bg-light border-0 small" placeholder="Expiry">
				<option>Expiry</option>
				<option>30-Jun-2022</option>
				<option>07-Jul-2022</option>
				<option>14-Jul-2022</option>
				<option>21-Jul-2022</option>
			</select>
				</td>
				<td>
					<div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
						<input size="16" type="text" value="12-02-2012" readonly>
						<span class="add-on"><i class="icon-th"></i></span>
					</div>
				<td>
					<div class="input-group-append"><button class="btn form-user btn-success" type="button">Submit</button></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div class="row">
	<table style="font-style: italic; border-collapse: collapse; text-align: right; width: 95%  height: 450px; font-size: 11px; border-spacing: 0px;" border="0">
		<tbody>
			<tr>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right;"><strong>High</strong></td>
				<td style="background-color: #ffa5008c; text-align: right;"><span style="color: #008000;"><strong>#high</strong></span></td>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right; border-right: solid;">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right;"><strong>Low&nbsp;</strong></td>
				<td style="background-color: #ffa5008c; text-align: right;"><span style="color: #993300;"><strong>#low</strong></span></td>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right;">&nbsp;</td>
				<td style="text-align: right; border-right: solid;">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: right;"><strong>Open</strong>&nbsp;</td>
				<td style="text-align: right;"><strong>#open</strong></td>
				<td style="text-align: right;"><strong>Index</strong></td>
				<td style="background-color: #ffa5008c; text-align: center;">
					<h2><strong>#index</strong></h2>
				</td>
				<td style="text-align: right;"><strong>Future&nbsp;</strong></td>
				<td style="text-align: right;"><strong>#future</strong></td>
				<td style="text-align: right; border-right: solid;">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;">#cecoi00</td>
				<td style="text-align: right; background-color: #f5f5f5;">#ceoi00</td>
				<td style="text-align: right; background-color: #f5f5f5;">#cevol00</td>
				<td style="background-color: #ffa5008c; text-align: center;"><strong>#sp00</strong></td>
				<td style="text-align: right;">#pevol00</td>
				<td style="text-align: right;">#peoi00</td>
				<td style="text-align: right; border-right: solid;">#pecoi00</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;">#cecoi01</td>
				<td style="text-align: right; background-color: #f5f5f5;">#ceoi01</td>
				<td style="text-align: right; background-color: #f5f5f5;">#cevol01</td>
				<td style="background-color: #ffa5008c; text-align: center;"><strong>#sp01</strong></td>
				<td style="text-align: right;">#pevol01</td>
				<td style="text-align: right;">#peoi01</td>
				<td style="text-align: right; border-right: solid;">#pecoi01</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;">#cecoi02</td>
				<td style="text-align: right; background-color: #f5f5f5;">#ceoi02</td>
				<td style="text-align: right; background-color: #f5f5f5;">#cevol02</td>
				<td style="background-color: #ffa5008c; text-align: center;"><strong>#sp02</strong></td>
				<td style="text-align: right;">#pevol02</td>
				<td style="text-align: right;">#peoi02</td>
				<td style="text-align: right; border-right: solid;">#pecoi02</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cecoi03</span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#ceoi03</td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cevol03</span></td>
				<td style="background-color: #ffa5008c; text-align: center;"><span style="color: #000000;"><strong>#sp03</strong></span></td>
				<td style="text-align: right;">#pevol03</td>
				<td style="text-align: right;">#peoi03</td>
				<td style="text-align: right; border-right: solid;">#pecoi03</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cecoi04</span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#ceoi04</td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cevol04</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp04</strong></span></td>
				<td style="text-align: right;">#pevol04</td>
				<td style="text-align: right;">#peoi04</td>
				<td style="text-align: right; border-right: solid;">#pecoi04</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cecoi05</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#ceoi05</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cevol05</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp05</strong></span></td>
				<td style="text-align: right;">#pevol05</td>
				<td style="text-align: right;">#peoi05</td>
				<td style="text-align: right; border-right: solid;">#pecoi05</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cecoi06</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#ceoi06</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cevol06</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp06</strong></span></td>
				<td style="text-align: right;">#pevol06</td>
				<td style="text-align: right;">#peoi06</td>
				<td style="text-align: right; border-right: solid;">#pecoi06</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cecoi07</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#ceoi07</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cevol07</span></td>
				<td style="text-align: center; background-color: rgba(255, 165, 0, 0.55);"><span style="color: #000000;"><strong>#sp07</strong></span></td>
				<td style="text-align: right;">#pevol07</td>
				<td style="text-align: right;">#peoi07</td>
				<td style="text-align: right; border-right: solid;">#pecoi07</td>
			</tr>
			<tr>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cecoi08</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#ceoi08</span></td>
				<td style="text-align: right; background-color: #f5f5f5;"><span style="color: #000000;">#cevol08</span></td>
				<td style="text-align: center; background-color: rgba(255, 165, 0, 0.55);"><span style="color: #000000;"><strong>#sp08</strong></span></td>
				<td style="text-align: right;">#pevol08</td>
				<td style="text-align: right;">#peoi08</td>
				<td style="text-align: right; border-right: solid;">#pecoi08</td>
			</tr>
			<tr style="border-top: 2px solid red;">
				<td style="text-align: right;"><span style="color: #000000;">#cecoi09</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi09</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol09</span></td>
				<td style="text-align: center; background-color: #ff3600f0;"><span style="color: #000000;"><strong>#sp09</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol09</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi09</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi09</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi10</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi10</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol10</span></td>
				<td style="text-align: center; background-color: rgba(255, 165, 0, 0.55);"><span style="color: #000000;"><strong>#sp10</strong></span></td>
				<td style="background-color: #f5f5f5;">#pevol10</td>
				<td style="background-color: #f5f5f5;">#peoi10</td>
				<td style="border-right: solid; background-color: #f5f5f5;">#pecoi10</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi11</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi11</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol11</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp11</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol11</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi11</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi11</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi12</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi12</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol12</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp12</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol12</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi12</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi12</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi13</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi13</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol13</span></td>
				<td style="text-align: center; background-color: rgba(255, 165, 0, 0.55);"><span style="color: #000000;"><strong>#sp13</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol13</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi13</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi13</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi14</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi14</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol14</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp14</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol14</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi14</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi14</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi15</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi15</span></td>
				<td style="text-align: right;">#cevol15</td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp15</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol15</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi15</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi15</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi16</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi16</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol16</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp16</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol16</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi16</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi16</td>
			</tr>
			<tr>
				<td style="text-align: right;"><span style="color: #000000;">#cecoi17</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#ceoi17</span></td>
				<td style="text-align: right;"><span style="color: #000000;">#cevol17</span></td>
				<td style="text-align: center; background-color: #ffa5008c;"><span style="color: #000000;"><strong>#sp17</strong></span></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol17</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi17</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi17</td>
			</tr>
			<tr>
				<td style="text-align: right;">#cecoi18</td>
				<td style="text-align: right;">#ceoi18</td>
				<td style="text-align: right;">#cevol18</td>
				<td style="text-align: center; background-color: #ffa5008c;"><strong>#sp18</strong></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol18</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi18</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi18</td>
			</tr>
			<tr>
				<td style="text-align: right;">#cecoi19</td>
				<td style="text-align: right;">#ceoi19</td>
				<td style="text-align: right;">#cevol19</td>
				<td style="text-align: center; background-color: #ffa5008c;"><strong>#sp19</strong></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol19</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi19</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi19</td>
			</tr>
			<tr>
				<td style="text-align: right;">#cecoi20</td>
				<td style="text-align: right;">#ceoi20</td>
				<td style="text-align: right;">#cevol20</td>
				<td style="text-align: center; background-color: #ffa5008c;"><strong>#sp20</strong></td>
				<td style="text-align: right; background-color: #f5f5f5;">#pevol20</td>
				<td style="text-align: right; background-color: #f5f5f5;">#peoi20</td>
				<td style="text-align: right; border-right: solid; background-color: #f5f5f5;">#pecoi20</td>
			</tr>
		</tbody>
	</table>
</div>
<script src="~/js/datetimepicker.js" type="text/javascript"></script>
<script type="text/javascript">
var $jo = jQuery.noConflict();
$jo(document).ready(function() {
	$jo('#datetimepicker').datetimepicker();
});

</script>

@*<script type="text/javascript">
//var $jo = jQuery.noConflict();
$(document).ready(function() {
	$('#datetimepicker').datetimepicker();
});

</script>*@