				<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

	<!-- Sidebar Toggle (Topbar) -->
	<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
	</button>


	<!-- Topbar Search -->
	<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

		<div class="input-group">
		    <partial name="_dropdownScript" />		   
		</div>
	</form>


	<div class="col-xl-2">
		<ul class="navbar-nav ml-auto">		
		<partial name="_notification" />
			<partial name="_messages" />
			<div class="topbar-divider d-none d-sm-block"></div>
			<!-- Nav Item - User Information -->
			<li class="nav-item dropdown no-arrow">
				<partial name="_LoginPartial" />
			</li>
		</ul>
	</div>
</nav>

