@using NSMkt.Views.Shared
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@using NSMkt.Models.VM
@{
	ViewData["Title"] = "Home Page";
}



<!-- Content Row -->
<div class="row">
	<div class="col-xl-3 col-md-6 mb-4">
		<partial name="_card"  model='new CardModel{ title="Bullish Stock", css="success", type = "BullishStockCount", value="11", url="SelectedStocks/BullishList", display="Stock Count 11" }'></partial> 	
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
		 @{ Html.RenderPartial("_card",new CardModel{ title="Bearish Stock", css="danger", type = "BearishStockCount", value="05",   url="SelectedStocks/BearishList", display="Stock Count 05" }); } 
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
		 @{ Html.RenderPartial("_card",new CardModel{ title="BankNifty", css="info", type = "Banknifty", value="35005", display="Index:35005 (F:35101)" }); } 
	</div>

	<div class="col-xl-3 col-md-6 mb-4">
		 @{ Html.RenderPartial("_card",new CardModel{ title="Nifty", css="primary", type = "Nifty", value="15809",display="15809 (F:15911)" }); } 
	</div>

</div>

<!-- Content Row -->

<div class="row">
 <partial name="_scriptAccordian" model='new{script= @Accessor.HttpContext.Session.GetString("script"), expiry= @Accessor.HttpContext.Session.GetString("expiry"), strike="13500"}' />		  
</div>


